version: '3'

services:
  db:
    image: postgres
    environment:
      - POSTGRES_USER=cuebot
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - POSTGRES_DB=cuebot
    ports:
      - "5432:5432"
    volumes:
      - ./sandbox/db-data:/var/lib/postgresql/data

  flyway:
    build:
      context: ./
      dockerfile: ./sandbox/flyway.Dockerfile
    links:
      - db
    depends_on:
      - db
    environment:
      - PGUSER=cuebot
      - PGPASSWORD=$POSTGRES_PASSWORD
      - PGDATABASE=cuebot
      - PGHOST=db
      - PGPORT=5432
    command: /opt/scripts/migrate.sh

  cuebot:
    image: opencue/cuebot
    links:
      - db
    ports:
      - "8443:8443"
      - "8080:8080"
    depends_on:
      - db
      - flyway
    restart: always
    environment:
      - CUE_FRAME_LOG_DIR=$CUE_FRAME_LOG_DIR
    command: --datasource.cueDataSource.url=jdbc:postgresql://db/cuebot --datasource.cueDataSource.username=cuebot --datasource.cueDataSource.password=$POSTGRES_PASSWORD

  rqd:
    image: opencue/rqd
    environment:
      - CUEBOT_HOSTNAME=cuebot
    depends_on:
      - cuebot
    links:
      - cuebot
    ports:
      - "8444:8444"
    volumes:
      - /tmp/rqd/logs:/tmp/rqd/logs
