# GitLab CI templates for OpenCue project
# This file contains reusable job templates

.install-task:
  before_script:
    - sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d
    - export PATH="$PWD/bin:$PATH"

.common-rules:
  rules:
    - if: '$CI_COMMIT_TAG'
      when: never
    - if: '$CI_COMMIT_REF_NAME == "helix"'
      when: on_success
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "helix"'
      when: on_success
    - when: never

.dev-deploy-rules:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" && $CI_MERGE_REQUEST_TARGET_BRANCH_NAME == "helix" && $CI_MERGE_REQUEST_STATE != "merged"'
      when: manual
      allow_failure: true
    - when: never

.docker_setup:
  image: docker:26.1.3
  tags:
    - square_linux_dind
  services:
    - docker:20.10.10-dind
  variables:
    DOCKER_HOST: tcp://localhost:2376
    DOCKER_TLS_VERIFY: 1
    DOCKER_CERT_PATH: /certs/client
