# GitLab CI jobs for version computation
# This file can be included by other pipelines that need version calculation

include:
  # JOB TEMPLATES
  - local: '.gitlab-ci-templates.yml'

compute_version:
  stage: version
  extends:
    - .install-task
    - .common-rules
  image: python:3.7
  script:
    - task compute-version
  artifacts:
    paths:
      - VERSION
    expire_in: 1 day
