*.idea/
*.pyc
.DS_Store
venv*/
/build/
/VERSION
.scannerwork/
*.egg-info/
.coverage
coverage.xml
htmlcov/
/.eggs/
*.iml
.venv/
*_pb2.py
*_pb2_grpc.py
svn/*
/dist/
cueweb/.next/*
cueweb/node_modules/*
.metals/*
rqd/.eggs/*
rqd/deploy/rpm/RPMS/x86_64/*
pycue/.metals/metals.h2.db
pycue/.metals/metals.lock.db
pycue/.metals/metals.log
pycue/.vscode/settings.json
.vscode
.bloop
cuebot/gradle/wrapper/gradle-6.0.1-bin.zip
*.class
bin/
logs/
opencue.code-workspace
stack_test.yml
rest_gateway/*.tar\.gz