*.idea/
__pycache__
*.pyc
.DS_Store
venv*/
build/
/build/
/VERSION
.scannerwork/
*.egg-info/
.coverage
coverage.xml
htmlcov/
rest_gateway/*.tar\.gz
/.env
.envrc
.vscode
.venv/
.eggs/*
/cuebot/bin/*
/logs/*
/.gradle/*
cuebot/.settings/*
cuebot/.classpath
cuebot/.project
/proto/opencue_proto/
