future==1.0.0
grpcio==1.48.2;python_version<"3.7"
grpcio-tools==1.48.2;python_version<"3.7"
grpcio~=1.71.0;python_version>="3.7"
grpcio-tools~=1.71.0;python_version>="3.7"
mock==2.0.0
packaging==20.9;python_version<"3.7"
packaging==24.1;python_version>="3.7"
psutil==5.9.8
pyfakefs==3.6;python_version<"3.7"
pyfakefs==5.2.3;python_version>="3.7"
pylint==2.13.9;python_version<"3.7"
pylint==2.15.10;python_version>="3.7"
pynput==1.7.6
PyYAML==5.1
six==1.16.0
pytest==7.0.1;python_version<"3.7"
pytest==8.3.3;python_version>="3.7"

# Optional requirements
# Sentry support for rqd
# sentry-sdk==2.11.0
# Docker support for rqd
# docker==5.0.3;python_version<"3.7"
# docker==7.1.0;python_version>="3.7"
# Loki support for rqd and cuegui
# urllib3==1.26.20;python_version<="3.9"
# urllib3==2.2.3;python_version>"3.9"
# loki-urllib3-client==0.2.2
