2to3==1.0
enum34==1.1.6
future==0.17.1
futures==3.2.0;python_version<"3.0"
google-api-python-client==1.9.1
grpcio==1.16.0
grpcio-tools==1.16.0
mock==2.0.0
oauth2client==4.1.3
pathlib==1.0.1;python_version<"3.4"
pexpect==4.6.0
psutil==5.6.6
pyfakefs==3.6
PyYAML==5.1
simplejson==3.16.0
six==1.11.0
azure-mgmt-resource
azure-mgmt-network
azure-mgmt-compute
