<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright (c) 2018 Sony Pictures Imageworks Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->


<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="allocationDao" class="com.imageworks.spcue.dao.oracle.AllocationDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="subscriptionDao" class="com.imageworks.spcue.dao.oracle.SubscriptionDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="showDao" class="com.imageworks.spcue.dao.oracle.ShowDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="jobDao" class="com.imageworks.spcue.dao.oracle.JobDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="layerDao" class="com.imageworks.spcue.dao.oracle.LayerDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="frameDao" class="com.imageworks.spcue.dao.oracle.FrameDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="hostDao" class="com.imageworks.spcue.dao.oracle.HostDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="procDao" class="com.imageworks.spcue.dao.oracle.ProcDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="dependDao" class="com.imageworks.spcue.dao.oracle.DependDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="whiteboardDao" class="com.imageworks.spcue.dao.oracle.WhiteboardDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
        <property name="frameSearchFactory" ref="frameSearchFactory" />
        <property name="procSearchFactory" ref="procSearchFactory" />
    </bean>

    <bean id="nestedWhiteboardDao" class="com.imageworks.spcue.dao.oracle.NestedWhiteboardDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="dispatcherDao" class="com.imageworks.spcue.dao.oracle.DispatcherDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="maintenanceDao" class="com.imageworks.spcue.dao.oracle.MaintenanceDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="filterDao" class="com.imageworks.spcue.dao.oracle.FilterDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="actionDao" class="com.imageworks.spcue.dao.oracle.ActionDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="matcherDao" class="com.imageworks.spcue.dao.oracle.MatcherDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="groupDao" class="com.imageworks.spcue.dao.oracle.GroupDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="commentDao" class="com.imageworks.spcue.dao.oracle.CommentDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="historicalDao" class="com.imageworks.spcue.dao.oracle.HistoricalDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="facilityDao" class="com.imageworks.spcue.dao.oracle.FacilityDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="departmentDao" class="com.imageworks.spcue.dao.oracle.DepartmentDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="taskDao" class="com.imageworks.spcue.dao.oracle.TaskDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="pointDao" class="com.imageworks.spcue.dao.oracle.PointDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="ownerDao" class="com.imageworks.spcue.dao.oracle.OwnerDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="deedDao" class="com.imageworks.spcue.dao.oracle.DeedDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="serviceDao" class="com.imageworks.spcue.dao.oracle.ServiceDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="bookingDao" class="com.imageworks.spcue.dao.oracle.BookingDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

    <bean id="redirectDao" class="com.imageworks.spcue.dao.oracle.RedirectDaoJdbc">
        <property name="dataSource" ref="cueDataSource" />
    </bean>

</beans>

