<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright Contributors to the OpenCue Project

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

  <!-- ##################################################################################### -->
  <!-- Monitoring and Event Publishing -->
  <!-- ##################################################################################### -->

  <!--
    Kafka Event Publisher for publishing render farm statistics events.
    Publishes job, layer, frame, host, and proc lifecycle events to Kafka topics.
    Disabled by default - enable with monitoring.kafka.enabled=true
  -->
  <bean id="kafkaEventPublisher"
        class="com.imageworks.spcue.monitoring.KafkaEventPublisher"
        init-method="initialize"
        destroy-method="shutdown">
    <property name="prometheusMetrics" ref="prometheusMetricsCollector"/>
  </bean>

  <!--
    Monitoring Event Builder helper for creating event messages from domain objects.
  -->
  <bean id="monitoringEventBuilder"
        class="com.imageworks.spcue.monitoring.MonitoringEventBuilder">
    <constructor-arg ref="kafkaEventPublisher"/>
  </bean>

  <!--
    Elasticsearch client for historical data storage.
    Disabled by default - enable with monitoring.elasticsearch.enabled=true
  -->
  <bean id="elasticsearchClient"
        class="com.imageworks.spcue.monitoring.ElasticsearchClient"
        init-method="initialize"
        destroy-method="shutdown"/>

  <!--
    Kafka consumer for ingesting events into Elasticsearch.
    Disabled by default - enable with monitoring.elasticsearch.enabled=true
  -->
  <bean id="kafkaEventConsumer"
        class="com.imageworks.spcue.monitoring.KafkaEventConsumer"
        init-method="initialize"
        destroy-method="shutdown">
    <property name="elasticsearchClient" ref="elasticsearchClient"/>
  </bean>

</beans>
