

# Host Specs:
# Use this section to set the max cores and max memory based on the available
# hardware.
# These values are used by:
#   - layer-properties
#   - redirect plugin
#   - service properties
max_cores: 32
max_memory: 128

max_gpus: 8
max_gpu_memory: 128


# Redirect Plugin maximum allowed core-hour cutoff. 
# Users will not be able to search for procs with frames that have been 
# already used more than this many core-hours:
max_proc_hour_cutoff: 30

# Redirect plugin wasted cores threshold:
# When redirecting, and the target show is at or very close to subscription 
# burst, killing frames will free up cores that may not be picked up by the 
# target job. The plugin will warn the user if the number of potentially lost
# cores is higher that this threshold. To disable this warning, set the 
# threshold to -1
redirect_wasted_cores_threshold: 100
