<?xml version="1.0" encoding="UTF-8"?>
<!--
   Copyright (c) 2018 Sony Pictures Imageworks Inc.

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->




<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Cue Static Interface -->
  <bean id="cueStaticIceExporter" class="com.imageworks.common.spring.remoting.IceExporter">
    <property name="iceServer" ref="manageIceServer" />
    <property name="iceIdentity" value="CueStatic" />
    <property name="iceServant">
      <!-- Bean to talk to rest of application -->
      <bean id="cueStaticServant" class="com.imageworks.spcue.servant.CueStaticI">
        <property name="whiteboard" ref="whiteboard" />
        <property name="adminManager" ref="adminManager" />
        <property name="manageQueue" ref="manageQueue" />
        <property name="reportQueue" ref="reportQueue" />
        <property name="dispatchQueue" ref="dispatchQueue" />
        <property name="bookingQueue" ref="bookingQueue" />
        <property name="dispatchSupport" ref="dispatchSupport" />
        <property name="jobManagerSupport" ref="jobManagerSupport" />
        <property name="jobLauncher" ref="jobLauncher" />
        <property name="jobManager" ref="jobManager" />
        <property name="groupManager" ref="groupManager" />
        <property name="redirectManager" ref="redirectManager" />
        <property name="serviceManager" ref="serviceManager" />
      </bean>
    </property>
  </bean>

  <!-- Job Servant Locator -->
  <bean id="manageJobServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageJob" />
    <constructor-arg index="2" value="500" />
  </bean>

  <bean scope="prototype" id="manageJob" class="com.imageworks.spcue.servant.ManageJobI">
    <property name="jobManagerSupport" ref="jobManagerSupport" />
    <property name="groupManager" ref="groupManager" />
    <property name="commentManager" ref="commentManager" />
    <property name="whiteboard" ref="whiteboard" />
    <property name="manageQueue" ref="manageQueue" />
    <property name="jobDao" ref="jobDao" />
    <property name="localBookingSupport" ref="localBookingSupport" />
    <property name="filterManager" ref="filterManager" />
  </bean>

  <!-- Owner -->
  <bean id="manageOwnerServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageOwner" />
    <constructor-arg index="2" value="50" />
  </bean>

  <bean scope="prototype" id="manageOwner" class="com.imageworks.spcue.servant.ManageOwnerI">
    <property name="hostManager" ref="hostManager" />
    <property name="ownerManager" ref="ownerManager" />
    <property name="adminManager" ref="adminManager" />
    <property name="whiteboard" ref="whiteboard" />
  </bean>

  <!-- Deed-->
  <bean id="manageDeedServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageDeed" />
    <constructor-arg index="2" value="50" />
  </bean>

  <bean scope="prototype" id="manageDeed" class="com.imageworks.spcue.servant.ManageDeedI">
    <property name="ownerManager" ref="ownerManager" />
    <property name="whiteboard" ref="whiteboard" />
  </bean>

  <!-- Frame Servant Locator -->
  <bean id="manageFrameServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageFrame" />
    <constructor-arg index="2" value="500" />
  </bean>

  <bean scope="prototype" id="manageFrame" class="com.imageworks.spcue.servant.ManageFrameI">
    <property name="jobManagerSupport" ref="jobManagerSupport" />
    <property name="frameDao" ref="frameDao" />
    <property name="manageQueue" ref="manageQueue" />
    <property name="whiteboard" ref="whiteboard" />
    <property name="localBookingSupport" ref="localBookingSupport" />
  </bean>

  <!--  Layer Servant Locator -->
  <bean id="manageLayerServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageLayer" />
    <constructor-arg index="2" value="500" />
  </bean>

  <bean scope="prototype" id="manageLayer" class="com.imageworks.spcue.servant.ManageLayerI">
    <property name="jobManagerSupport" ref="jobManagerSupport" />
    <property name="whiteboard" ref="whiteboard" />
    <property name="manageQueue" ref="manageQueue" />
    <property name="layerDao" ref="layerDao" />
    <property name="localBookingSupport" ref="localBookingSupport" />
  </bean>

  <!-- Host Servant Locator -->
  <bean id="manageHostServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageHost" />
    <constructor-arg index="2" value="500" />
  </bean>

  <bean scope="prototype" id="manageHost" class="com.imageworks.spcue.servant.ManageHostI">
    <property name="hostManager" ref="hostManager" />
    <property name="hostDao" ref="hostDao" />
    <property name="adminManager" ref="adminManager" />
    <property name="whiteboard" ref="whiteboard" />
    <property name="commentManager" ref="commentManager" />
    <property name="jobManager" ref="jobManager" />
    <property name="redirectManager" ref="redirectManager" />
  </bean>

  <!-- Allocation Servant -->
  <bean id="manageAllocationServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageAllocation" />
    <constructor-arg index="2" value="25" />
  </bean>

  <bean scope="prototype" id="manageAllocation" class="com.imageworks.spcue.servant.ManageAllocationI">
    <property name="allocationDao" ref="allocationDao" />
    <property name="adminManager" ref="adminManager" />
    <property name="hostManager" ref="hostManager" />
    <property name="manageQueue" ref="manageQueue" />
    <property name="whiteboard" ref="whiteboard" />
  </bean>


  <!-- Show Servant -->
  <bean id="manageShowServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageShow" />
    <constructor-arg index="2" value="25" />
  </bean>

  <bean scope="prototype" id="manageShow" class="com.imageworks.spcue.servant.ManageShowI">
    <property name="whiteboard" ref="whiteboard" />
    <property name="adminManager" ref="adminManager" />
    <property name="showDao" ref="showDao" />
    <property name="filterManager" ref="filterManager" />
    <property name="departmentManager" ref="departmentManager" />
    <property name="ownerManager" ref="ownerManager" />
    <property name="serviceManager" ref="serviceManager" />
  </bean>

  <!-- Subscription Servant -->
  <bean id="manageSubscriptionServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageSubscription" />
    <constructor-arg index="2" value="25" />
  </bean>

  <bean scope="prototype" id="manageSubscription" class="com.imageworks.spcue.servant.ManageSubscriptionI">
    <property name="adminManager" ref="adminManager" />
  </bean>

  <!-- Group Servant -->
  <bean id="manageGroupServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageGroup" />
    <constructor-arg index="2" value="25" />
  </bean>

  <bean scope="prototype" id="manageGroup" class="com.imageworks.spcue.servant.ManageGroupI">
    <property name="adminManager" ref="adminManager" />
    <property name="groupManager" ref="groupManager" />
    <property name="groupDao" ref="groupDao" />
    <property name="jobDao" ref="jobDao" />
    <property name="whiteboard" ref="whiteboard" />
    <property name="manageQueue" ref="manageQueue" />
  </bean>

  <!-- Filter Servant -->
  <bean id="manageFilterServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageFilter" />
    <constructor-arg index="2" value="100" />
  </bean>

  <bean scope="prototype" id="manageFilter" class="com.imageworks.spcue.servant.ManageFilterI">
    <property name="filterManager" ref="filterManager" />
    <property name="whiteboard" ref="whiteboard" />
    <property name="filterDao" ref="filterDao" />
    <property name="groupDao" ref="groupDao" />
    <property name="manageQueue" ref="manageQueue" />
  </bean>

  <!-- Action Servant -->
  <bean id="manageActonServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageAction" />
    <constructor-arg index="2" value="100" />
  </bean>

  <bean scope="prototype" id="manageAction" class="com.imageworks.spcue.servant.ManageActionI">
    <property name="filterManager" ref="filterManager" />
    <property name="whiteboard" ref="whiteboard" />
  </bean>

  <!-- Matcher Servant -->
  <bean id="manageMatcherServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageMatcher" />
    <constructor-arg index="2" value="100" />
  </bean>

  <bean scope="prototype" id="manageMatcher" class="com.imageworks.spcue.servant.ManageMatcherI">
    <property name="filterManager" ref="filterManager" />
    <property name="whiteboard" ref="whiteboard" />
  </bean>

  <!-- Depend Servant -->
  <bean id="dependServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageDepend" />
    <constructor-arg index="2" value="100" />
  </bean>

  <bean scope="prototype" id="manageDepend" class="com.imageworks.spcue.servant.ManageDependI">
    <property name="dependManager" ref="dependManager" />
    <property name="manageQueue" ref="manageQueue" />
  </bean>

  <!-- Proc Servant -->
  <bean id="procServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageProc" />
    <constructor-arg index="2" value="1000" />
  </bean>

  <bean scope="prototype" id="manageProc" class="com.imageworks.spcue.servant.ManageProcI">
    <property name="whiteboard" ref="whiteboard" />
    <property name="procDao" ref="procDao" />
    <property name="jobManagerSupport" ref="jobManagerSupport" />
    <property name="jobManager" ref="jobManager" />
    <property name="groupManager" ref="groupManager" />
    <property name="redirectManager" ref="redirectManager" />
  </bean>

  <!-- Comment Servant -->
  <bean id="commentServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageComment" />
    <constructor-arg index="2" value="40" />
  </bean>

  <bean scope="prototype" id="manageComment" class="com.imageworks.spcue.servant.ManageCommentI">
    <property name="commentManager" ref="commentManager" />
  </bean>

  <!-- Task Servant -->
  <bean id="taskServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageTask" />
    <constructor-arg index="2" value="100" />
  </bean>

  <bean scope="prototype" id="manageTask" class="com.imageworks.spcue.servant.ManageTaskI">
    <property name="departmentManager" ref="departmentManager" />
  </bean>

  <!-- Department Servant -->
  <bean id="departmentServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageDepartment" />
    <constructor-arg index="2" value="50" />
  </bean>

  <bean scope="prototype" id="manageDepartment" class="com.imageworks.spcue.servant.ManageDepartmentI">
    <property name="departmentManager" ref="departmentManager" />
    <property name="whiteboard" ref="whiteboard" />
  </bean>

  <!-- Render Partition Servant -->
  <bean id="renderPartitionServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageRenderPartition" />
    <constructor-arg index="2" value="50" />
  </bean>

  <bean scope="prototype" id="manageRenderPartition" class="com.imageworks.spcue.servant.ManageRenderPartitionI">
    <property name="bookingManager" ref="bookingManager" />
  </bean>

  <!-- Service Servant -->
  <bean id="serviceServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageService" />
    <constructor-arg index="2" value="50" />
  </bean>

  <bean scope="prototype" id="manageService" class="com.imageworks.spcue.servant.ManageServiceI">
    <property name="serviceManager" ref="serviceManager" />
  </bean>

    <!-- Service Servant -->
  <bean id="serviceOverrideServantLocator" class="com.imageworks.common.spring.remoting.CachingSpringServantLocator">
    <constructor-arg index="0" ref="manageIceServer" />
    <constructor-arg index="1" value="manageServiceOverride" />
    <constructor-arg index="2" value="50" />
  </bean>

  <bean scope="prototype" id="manageServiceOverride" class="com.imageworks.spcue.servant.ManageServiceOverrideI">
    <property name="serviceManager" ref="serviceManager" />
  </bean>
</beans>



