# =============================================================================
# LOGGING CONFIGURATION
# =============================================================================
logging:
  # Logging level for RQD output
  # uses tracing EnvFilter format.
  # See https://docs.rs/tracing-subscriber/0.2.19/tracing_subscriber/filter/struct.EnvFilter.html
  level: info,sqlx=warn

database:
  connection_url: "postgresql://cuebot:cuebot_password@localhost:5432/cuebot"

rqd:
  dry_run_mode: true
