name: OpenCue SonarCloud Pipeline

# Trigger this pipeline on new commits to master.
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  analyze_python:
    runs-on: ubuntu-latest
    container: aswf/ci-opencue:2020
    name: Analyze Python Components
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Fetch all Git history, otherwise the current version number will
          # not be correctly calculated.
          fetch-depth: 0

      - name: Generate coverage report
        run: ci/python_coverage_report.sh

      - name: Analyze and send to SonarCloud
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  analyze_cuebot:
    runs-on: ubuntu-latest
    container: aswf/ci-opencue:2020
    name: Analyze Cuebot
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          # Fetch all Git history, otherwise the current version number will
          # not be correctly calculated.
          fetch-depth: 0

      - name: Analyze and send to SonarCloud
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          chown -R aswfuser:aswfgroup .
          su -c "cd cuebot && ./gradlew jacocoTestReport sonarqube -Dsonar.login=$(SONAR_TOKEN)" aswfuser
