name: OpenCue Testing Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test_python_2023:
    name: Run Python Unit Tests (CY2023)
    runs-on: ubuntu-22.04
    container: aswf/ci-opencue:2023
    steps:
      - uses: actions/checkout@v3
      - name: Run Python Tests
        run: ci/run_python_tests.sh

  test_cuebot_2023:
    name: Build Cuebot and Run Unit Tests (CY2023)
    runs-on: ubuntu-22.04
    container:
      image: aswf/ci-opencue:2023
    steps:
      - uses: actions/checkout@v3
      - name: Build with Gradle
        run: |
          chown -R aswfuser:aswfgroup .
          su -c "cd cuebot && ./gradlew build --stacktrace --info" aswfuser

  test_python_2024:
    name: Run Python Unit Tests (CY2024)
    runs-on: ubuntu-22.04
    container: aswf/ci-opencue:2024
    steps:
      - uses: actions/checkout@v3
      - name: Run Python Tests
        run: ci/run_python_tests.sh

  test_cuebot_2024:
    name: Build Cuebot and Run Unit Tests (CY2024)
    runs-on: ubuntu-22.04
    container:
      image: aswf/ci-opencue:2024
    steps:
      - uses: actions/checkout@v3
      - name: Build with Gradle
        run: |
          chown -R aswfuser:aswfgroup .
          su -c "cd cuebot && ./gradlew build --stacktrace --info" aswfuser

  integration_test:
    name: Run Integration Test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Run test
        run: ci/run_integration_test.sh

      - name: Archive log files
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: test-logs
          path: /tmp/opencue-test/*.log

  lint_python:
    name: Lint Python Code
    runs-on: ubuntu-22.04
    container: aswf/ci-opencue:2024.1
    env:
      ACTIONS_ALLOW_USE_UNSECURE_NODE_VERSION: true
    steps:
      - uses: actions/checkout@v3
      - name: Lint Python Code
        run: ci/run_python_lint.sh

  test_sphinx:
    name: Test Documentation Build
    runs-on: ubuntu-22.04
    container:
      image: aswf/ci-opencue:2023
    steps:
      - uses: actions/checkout@v3
      - name: Run Sphinx build
        run: ci/build_sphinx_docs.sh

  check_changed_files:
    name: Check Changed Files
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Get Changed Files
        id: get_changed_files
        uses: tj-actions/changed-files@v41
      - name: Check for Version Change
        run: ci/check_changed_files.py ${{ steps.get_changed_files.outputs.modified_files }} ${{ steps.get_changed_files.outputs.deleted_files }}

  check_migration_files:
    name: Check Database Migration Files
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Check Migration Files
        run: ci/check_database_migrations.py

  check_for_version_bump:
    name: Check for Version Bump
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Get Changed Files
        id: get_changed_files
        uses: tj-actions/changed-files@v41
      - name: Check for Version Change
        run: ci/check_version_bump.py ${{ steps.get_changed_files.outputs.all_changed_and_modified_files }}
